@model IEnumerable<Day2.Controllers.Models.User>

@{
    ViewBag.Title = "ManageUsers";
}

<h2>Controller: Admin (Local only!!!) , Action: Manage, HttpMethod: Get</h2>

<p>
    @Html.ActionLink("Create New", "AddUser", "Customer")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteUser", new { id=item.Id })
        </td>
    </tr>
}

</table>
